schema/utf-8-xml.rnc

default namespace = ""

start =
    element map {
        attribute continentFactor { xsd:integer },
        attribute continentToKingdomHOffset { xsd:decimal },
        attribute continentToKingdomVOffset { xsd:decimal },
        attribute hexHeight { xsd:decimal },
        attribute hexOrientation { xsd:NCName },
        attribute hexWidth { xsd:decimal },
        attribute kingdomFactor { xsd:integer },
        attribute kingdomToProvinceHOffset { xsd:decimal },
        attribute kingdomToProvinceVOffset { xsd:decimal },
        attribute lastViewLevel { xsd:NCName },
        attribute mapProjection { xsd:NCName },
        attribute provinceFactor { xsd:integer },
        attribute showFeatureLabels { xsd:boolean },
        attribute showGMOnly { xsd:boolean },
        attribute showGMOnlyGlow { xsd:boolean },
        attribute showGrid { xsd:boolean },
        attribute showGridNumbers { xsd:boolean },
        attribute showNotes { xsd:boolean },
        attribute showShadows { xsd:boolean },
        attribute triangleSize { xsd:integer },
        attribute type { xsd:NCName },
        attribute version { xsd:decimal },
        attribute worldToContinentHOffset { xsd:decimal },
        attribute worldToContinentVOffset { xsd:decimal },
        element gridandnumbering {
            attribute color0 { xsd:NMTOKEN },
            attribute color1 { xsd:NMTOKEN },
            attribute color2 { xsd:NMTOKEN },
            attribute color3 { xsd:NMTOKEN },
            attribute color4 { xsd:NMTOKEN },
            attribute gridOffsetContinentKingdomX { xsd:decimal },
            attribute gridOffsetContinentKingdomY { xsd:decimal },
            attribute gridOffsetWorldContinentX { xsd:decimal },
            attribute gridOffsetWorldContinentY { xsd:decimal },
            attribute gridOffsetWorldKingdomX { xsd:decimal },
            attribute gridOffsetWorldKingdomY { xsd:decimal },
            attribute gridOffsetX { xsd:decimal },
            attribute gridOffsetY { xsd:decimal },
            attribute gridSquare { xsd:integer },
            attribute gridSquareHeight { xsd:decimal },
            attribute gridSquareWidth { xsd:decimal },
            attribute numberColor { xsd:NMTOKEN },
            attribute numberFirstCol { xsd:integer },
            attribute numberFirstRow { xsd:integer },
            attribute numberFont { xsd:NCName },
            attribute numberOrder { xsd:NCName },
            attribute numberPosition { xsd:NCName },
            attribute numberPrePad { xsd:NCName },
            attribute numberSeparator { xsd:NMTOKEN },
            attribute numberSize { xsd:integer },
            attribute numberStyle { xsd:NCName },
            attribute width0 { xsd:decimal },
            attribute width1 { xsd:decimal },
            attribute width2 { xsd:decimal },
            attribute width3 { xsd:decimal },
            attribute width4 { xsd:decimal }
        },
        element terrainmap { text },
        element maplayer {
            attribute isVisible { xsd:boolean },
            attribute name { text }
        }+,
        element tiles {
            attribute tilesHigh { xsd:integer },
            attribute tilesWide { xsd:integer },
            attribute viewLevel { xsd:NCName },
            element tilerow { text }+
        },
        element mapkey {
            attribute backgroundcolor { text },
            attribute backgroundopacity { xsd:integer },
            attribute entryFontBold { xsd:boolean },
            attribute entryFontColor { text },
            attribute entryFontFace { xsd:NCName },
            attribute entryFontItalic { xsd:boolean },
            attribute entryScale { xsd:integer },
            attribute height { xsd:integer },
            attribute positionx { xsd:decimal },
            attribute positiony { xsd:decimal },
            attribute scaleFontBold { xsd:boolean },
            attribute scaleFontColor { text },
            attribute scaleFontFace { xsd:NCName },
            attribute scaleFontItalic { xsd:boolean },
            attribute scaleScale { xsd:integer },
            attribute scaleText { text },
            attribute titleFontBold { xsd:boolean },
            attribute titleFontColor { text },
            attribute titleFontFace { xsd:NCName },
            attribute titleFontItalic { xsd:boolean },
            attribute titleScale { xsd:integer },
            attribute titleText { text },
            attribute viewlevel { xsd:NCName }
        },
        element features {
            element feature {
                attribute color { text },
                attribute isContinent { xsd:boolean },
                attribute isFillHexBottom { xsd:boolean },
                attribute isFlipHorizontal { xsd:boolean },
                attribute isFlipVertical { xsd:boolean },
                attribute isGMOnly { xsd:boolean },
                attribute isHideTerrainIcon { xsd:boolean },
                attribute isKingdom { xsd:boolean },
                attribute isPlaceFreely { xsd:boolean },
                attribute isProvince { xsd:boolean },
                attribute isWorld { xsd:boolean },
                attribute labelDistance { xsd:integer },
                attribute labelPosition { xsd:NMTOKEN },
                attribute mapLayer { xsd:NCName },
                attribute ringcolor { xsd:NCName },
                attribute rotate { xsd:decimal },
                attribute scale { xsd:decimal },
                attribute scaleHt { xsd:decimal },
                attribute tags { text },
                attribute type { text },
                attribute uuid { text },
                location,
                label
            }+
        },
        element labels { label+ },
        element shapes {
            element shape {
                attribute bbHeight { xsd:decimal },
                attribute bbIterations { xsd:integer },
                attribute bbWidth { xsd:decimal },
                attribute creationType { xsd:NCName },
                attribute currentShapeViewLevel { xsd:NCName },
                attribute dsColor { text },
                attribute dsOffsetX { xsd:decimal },
                attribute dsOffsetY { xsd:decimal },
                attribute dsRadius { xsd:decimal },
                attribute dsSpread { xsd:decimal },
                attribute fillRule { xsd:NCName },
                attribute fillTexture { text },
                attribute highestViewLevel { xsd:NCName },
                attribute insChoke { xsd:decimal },
                attribute insColor { text },
                attribute insOffsetX { xsd:decimal },
                attribute insOffsetY { xsd:decimal },
                attribute insRadius { xsd:decimal },
                attribute isBoxBlur { xsd:boolean },
                attribute isContinent { xsd:boolean },
                attribute isCurve { xsd:boolean },
                attribute isDropShadow { xsd:boolean },
                attribute isGMOnly { xsd:boolean },
                attribute isInnerShadow { xsd:boolean },
                attribute isKingdom { xsd:boolean },
                attribute isMatchTileBorders { xsd:boolean },
                attribute isProvince { xsd:boolean },
                attribute isSnapVertices { xsd:boolean },
                attribute isWorld { xsd:boolean },
                attribute lineCap { xsd:NCName },
                attribute lineJoin { xsd:NCName },
                attribute mapLayer { text },
                attribute opacity { xsd:decimal },
                attribute strokeColor { text },
                attribute strokeTexture { text },
                attribute strokeType { xsd:NCName },
                attribute strokeWidth { xsd:decimal },
                attribute tags { text },
                attribute type { xsd:NCName },
                element p {
                    attribute type { xsd:NCName }?,
                    attribute x { xsd:decimal },
                    attribute y { xsd:decimal }
                }+
            }+
        },
        element notes { empty },
        element informations { information+ },
        element configuration {
            element terrain-config { empty },
            element feature-config { empty },
            element texture-config { empty },
            element text-config {
                element labelstyle {
                    attribute backgroundColor { xsd:NCName },
                    attribute color { text },
                    attribute fontFace { text },
                    attribute isBold { xsd:boolean },
                    attribute isItalic { xsd:boolean },
                    attribute name { text },
                    attribute outlineColor { text },
                    attribute outlineSize { xsd:decimal },
                    attribute scale { xsd:decimal }
                }+
            },
            element shape-config {
                element shapestyle {
                    attribute bbHeight { xsd:decimal },
                    attribute bbIterations { xsd:integer },
                    attribute bbWidth { xsd:decimal },
                    attribute boxBlur { xsd:boolean },
                    attribute dropShadow { xsd:boolean },
                    attribute dsOffsetX { xsd:decimal },
                    attribute dsOffsetY { xsd:decimal },
                    attribute dsRadius { xsd:decimal },
                    attribute dsSpread { xsd:decimal },
                    attribute dscolor { text },
                    attribute fillPaint { xsd:NCName },
                    attribute fillTexture { text },
                    attribute innerShadow { xsd:boolean },
                    attribute insChoke { xsd:decimal },
                    attribute insColor { xsd:NCName },
                    attribute insOffsetX { xsd:decimal },
                    attribute insOffsetY { xsd:decimal },
                    attribute insRadius { xsd:decimal },
                    attribute isFractal { xsd:boolean },
                    attribute name { text },
                    attribute opacity { xsd:decimal },
                    attribute snapVertices { xsd:boolean },
                    attribute strokePaint { text },
                    attribute strokeTexture { text },
                    attribute strokeType { xsd:NCName },
                    attribute strokeWidth { xsd:decimal },
                    attribute tags { xsd:NCName }
                }+
            }
        }
    }
location =
    element location {
        attribute scale { xsd:decimal }?,
        attribute viewLevel { xsd:NCName },
        attribute x { xsd:decimal },
        attribute y { xsd:decimal }
    }
label =
    element label {
        attribute backgroundColor { text }?,
        attribute color { text },
        attribute fontFace { xsd:NMTOKEN },
        attribute isBold { xsd:boolean },
        attribute isContinent { xsd:boolean },
        attribute isGMOnly { xsd:boolean },
        attribute isItalic { xsd:boolean },
        attribute isKingdom { xsd:boolean },
        attribute isProvince { xsd:boolean },
        attribute isWorld { xsd:boolean },
        attribute mapLayer { xsd:NCName },
        attribute outlineColor { text },
        attribute outlineSize { xsd:decimal },
        attribute rotate { xsd:decimal },
        attribute style { xsd:NCName },
        attribute tags { text },
        (text | location)+
    }
information =
    element information {
        attribute culture { text }?,
        attribute cultures { text }?,
        attribute domains { text }?,
        attribute government { text }?,
        attribute holySymbol { text }?,
        attribute language { xsd:NCName }?,
        attribute religionType { text }?,
        attribute rulers { text }?,
        attribute title { text },
        attribute type { xsd:NCName },
        attribute uuid { text },
        (text | information)+
    }
